In [1]:
import pandas as pd
import csv, sqlite3

In [2]:
conn = sqlite3.connect('chinook.db')

q = 'SELECT * FROM album LIMIT 3;'
pd.read_sql_query(q, conn)

   album_id                                  title  artist_id
0         1  For Those About To Rock We Salute You          1
1         2                      Balls to the Wall          2
2         3                      Restless and Wild          2

In [4]:
second_query = """
SELECT *
FROM track
LIMIT 5;
"""
pd.read_sql_query(second_query, conn)

,track_id,name,album_id,media_type_id,genre_id,composer,milliseconds,bytes,unit_price
0,1,For Those About To Rock (We Salute You),1,1,1,"Angus Young, Malcolm Young, Brian Johnson",343719,11170334,0.99
1,2,Balls to the Wall,2,2,1,None,342562,5510424,0.99
2,3,Fast As a Shark,3,2,1,"F. Baltes, S. Kaufman, U. Dirkscneider & W. Ho...",230619,3990994,0.99
3,4,Restless and Wild,3,2,1,"F. Baltes, R.A. Smith-Diesel, S. Kaufman, U. D...",252051,4331779,0.99
4,5,Princess of the Dawn,3,2,1,Deaffy & R.A. Smith-Diesel,375418,6290521,0.99

In [5]:
third_query = """
SELECT *
FROM customer
"""
pd.read_sql_query(third_query, conn)

,customer_id,first_name,last_name,company,address,city,state,country,postal_code,phone,fax,email,support_rep_id
0,1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,+55 (12) 3923-5555,+55 (12) 3923-5566,luisg@embraer.com.br,3
1,2,Leonie,Köhler,None,Theodor-Heuss-Straße 34,Stuttgart,None,Germany,70174,+49 0711 2842222,None,leonekohler@surfeu.de,5
2,3,François,Tremblay,None,1498 rue Bélanger,Montréal,QC,Canada,H2G 1A7,+1 (514) 721-4711,None,ftremblay@gmail.com,3
3,4,Bjørn,Hansen,None,Ullevålsveien 14,Oslo,None,Norway,0171,+47 22 44 22 22,None,bjorn.hansen@yahoo.no,4
4,5,František,Wichterlová,JetBrains s.r.o.,Klanova 9/506,Prague,None,Czech Republic,14700,+420 2 4172 5555,+420 2 4172 5555,frantisekw@jetbrains.com,4
5,6,Helena,Holý,None,Rilská 3174/6,Prague,None,Czech Republic,14300,+420 2 4177 0449,None,hholy@gmail.com,5
6,7,Astrid,Gruber,None,"Rotenturmstraße 4, 1010 Innere Stadt",Vienne,None,Austria,1010,+43 01 5134505,None,astrid.gruber@apple.at,5
7,8,Daan,Peeters,None,Grétrystraat 63,Brussels,None,Belgium,1000,+32 02 219 03 03,None,daan_peeters@apple.be,4
8,9,Kara,Nielsen,None,Sønder Boulevard 51,Copenhagen,None,Denmark,1720,+453 3331 9991,None,kara.nielsen@jubii.dk,4
9,10,Eduardo,Martins,Woodstock Discos,"Rua Dr. Falcão Filho, 155",São Paulo,SP,Brazil,01007-010,+55 (11) 3033-5446,+55 (11) 3033-4564,eduardo@woodstock.com.br,4
10,11,Alexandre,Rocha,Banco do Brasil S.A.,"Av. Paulista, 2022",São Paulo,SP,Brazil,01310-200,+55 (11) 3055-3278,+55 (11) 3055-8131,alero@uol.com.br,5
11,12,Roberto,Almeida,Riotur,"Praça Pio X, 119",Rio de Janeiro,RJ,Brazil,20040-020,+55 (21) 2271-7000,+55 (21) 2271-7070,roberto.almeida@riotur.gov.br,3
12,13,Fernanda,Ramos,None,Qe 7 Bloco G,Brasília,DF,Brazil,71020-677,+55 (61) 3363-5547,+55 (61) 3363-7855,fernadaramos4@uol.com.br,4
13,14,Mark,Philips,Telus,8210 111 ST NW,Edmonton,AB,Canada,T6G 2C7,+1 (780) 434-4554,+1 (780) 434-5565,mphilips12@shaw.ca,5
14,15,Jennifer,Peterson,Rogers Canada,700 W Pender Street,Vancouver,BC,Canada,V6C 1G8,+1 (604) 688-2255,+1 (604) 688-8756,jenniferp@rogers.ca,3
15,16,Frank,Harris,Google Inc.,1600 Amphitheatre Parkway,Mountain View,CA,USA,94043-1351,+1 (650) 253-0000,+1 (650) 253-0000,fharris@google.com,4
16,17,Jack,Smith,Microsoft Corporation,1 Microsoft Way,Redmond,WA,USA,98052-8300,+1 (425) 882-8080,+1 (425) 882-8081,jacksmith@microsoft.com,5
17,18,Michelle,Brooks,None,627 Broadway,New York,NY,USA,10012-2612,+1 (212) 221-3546,+1 (212) 221-4679,michelleb@aol.com,3
18,19,Tim,Goyer,Apple Inc.,1 Infinite Loop,Cupertino,CA,USA,95014,+1 (408) 996-1010,+1 (408) 996-1011,tgoyer@apple.com,3
19,20,Dan,Miller,None,541 Del Medio Avenue,Mountain View,CA,USA,94040-111,+1 (650) 644-3358,None,dmiller@comcast.com,4
20,21,Kathy,Chase,None,801 W 4th Street,Reno,NV,USA,89503,+1 (775) 223-7665,None,kachase@hotmail.com,5
21,22,Heather,Leacock,None,120 S Orange Ave,Orlando,FL,USA,32801,+1 (407) 999-7788,None,hleacock@gmail.com,4
22,23,John,Gordon,None,69 Salem Street,Boston,MA,USA,2113,+1 (617) 522-1333,None,johngordon22@yahoo.com,4
23,24,Frank,Ralston,None,162 E Superior Street,Chicago,IL,USA,60611,+1 (312) 332-3232,None,fralston@gmail.com,3
24,25,Victor,Stevens,None,319 N. Frances Street,Madison,WI,USA,53703,+1 (608) 257-0597,None,vstevens@yahoo.com,5
25,26,Richard,Cunningham,None,2211 W Berry Street,Fort Worth,TX,USA,76110,+1 (817) 924-7272,None,ricunningham@hotmail.com,4
26,27,Patrick,Gray,None,1033 N Park Ave,Tucson,AZ,USA,85719,+1 (520) 622-4200,None,patrick.gray@aol.com,4
27,28,Julia,Barnett,None,302 S 700 E,Salt Lake City,UT,USA,84102,+1 (801) 531-7272,None,jubarnett@gmail.com,5
28,29,Robert,Brown,None,796 Dundas Street West,Toronto,ON,Canada,M6J 1V1,+1 (416) 363-8888,None,robbrown@shaw.ca,3
29,30,Edward,Francis,None,230 Elgin Street,Ottawa,ON,Canada,K2P 1L7,+1 (613) 234-3322,None,edfrancis@yachoo.ca,3
30,31,Martha,Silk,None,194A Chain Lake Drive,Halifax,NS,Canada,B3S 1C5,+1 (902) 450-0450,None,marthasilk@gmail.com,5
31,32,Aaron,Mitchell,None,696 Osborne Street,Winnipeg,MB,Canada,R3L 2B9,+1 (204) 452-6452,None,aaronmitchell@yahoo.ca,4
32,33,Ellie,Sullivan,None,5112 48 Street,Yellowknife,NT,Canada,X1A 1N6,+1 (867) 920-2233,None,ellie.sullivan@shaw.ca,3
33,34,João,Fernandes,None,Rua da Assunção 53,Lisbon,None,Portugal,None,+351 (213) 466-111,None,jfernandes@yahoo.pt,4
34,35,Madalena,Sampaio,None,"Rua dos Campeões Europeus de Viena, 4350",Porto,None,Portugal,None,+351 (225) 022-448,None,masampaio@sapo.pt,4
35,36,Hannah,Schneider,None,Tauentzienstraße 8,Berlin,None,Germany,10789,+49 030 26550280,None,hannah.schneider@yahoo.de,5
36,37,Fynn,Zimmermann,None,Berger Straße 10,Frankfurt,None,Germany,60316,+49 069 40598889,None,fzimmermann@yahoo.de,3
37,38,Niklas,Schröder,None,Barbarossastraße 19,Berlin,None,Germany,10779,+49 030 2141444,None,nschroder@surfeu.de,3
38,39,Camille,Bernard,None,"4, Rue Milton",Paris,None,France,75009,+33 01 49 70 65 65,None,camille.bernard@yahoo.fr,4
39,40,Dominique,Lefebvre,None,"8, Rue Hanovre",Paris,None,France,75002,+33 01 47 42 71 71,None,dominiquelefebvre@gmail.com,4
40,41,Marc,Dubois,None,"11, Place Bellecour",Lyon,None,France,69002,+33 04 78 30 30 30,None,marc.dubois@hotmail.com,5
41,42,Wyatt,Girard,None,"9, Place Louis Barthou",Bordeaux,None,France,33000,+33 05 56 96 96 96,None,wyatt.girard@yahoo.fr,3
42,43,Isabelle,Mercier,None,"68, Rue Jouvence",Dijon,None,France,21000,+33 03 80 73 66 99,None,isabelle_mercier@apple.fr,3
43,44,Terhi,Hämäläinen,None,Porthaninkatu 9,Helsinki,None,Finland,00530,+358 09 870 2000,None,terhi.hamalainen@apple.fi,3
44,45,Ladislav,Kovács,None,Erzsébet krt. 58.,Budapest,None,Hungary,H-1073,None,None,ladislav_kovacs@apple.hu,3
45,46,Hugh,O'Reilly,None,3 Chatham Street,Dublin,Dublin,Ireland,None,+353 01 6792424,None,hughoreilly@apple.ie,3
46,47,Lucas,Mancini,None,"Via Degli Scipioni, 43",Rome,RM,Italy,00192,+39 06 39733434,None,lucas.mancini@yahoo.it,5
47,48,Johannes,Van der Berg,None,Lijnbaansgracht 120bg,Amsterdam,VV,Netherlands,1016,+31 020 6223130,None,johavanderberg@yahoo.nl,5
48,49,Stanisław,Wójcik,None,Ordynacka 10,Warsaw,None,Poland,00-358,+48 22 828 37 39,None,stanisław.wójcik@wp.pl,4
49,50,Enrique,Muñoz,None,C/ San Bernardo 85,Madrid,None,Spain,28015,+34 914 454 454,None,enrique_munoz@yahoo.es,5
50,51,Joakim,Johansson,None,Celsiusg. 9,Stockholm,None,Sweden,11230,+46 08-651 52 52,None,joakim.johansson@yahoo.se,5
51,52,Emma,Jones,None,202 Hoxton Street,London,None,United Kingdom,N1 5LH,+44 020 7707 0707,None,emma_jones@hotmail.com,3
52,53,Phil,Hughes,None,113 Lupus St,London,None,United Kingdom,SW1V 3EN,+44 020 7976 5722,None,phil.hughes@gmail.com,3
53,54,Steve,Murray,None,110 Raeburn Pl,Edinburgh,None,United Kingdom,EH4 1HH,+44 0131 315 3300,None,steve.murray@yahoo.uk,5
54,55,Mark,Taylor,None,421 Bourke Street,Sidney,NSW,Australia,2010,+61 (02) 9332 3633,None,mark.taylor@yahoo.au,4
55,56,Diego,Gutiérrez,None,307 Macacha Güemes,Buenos Aires,None,Argentina,1106,+54 (0)11 4311 4333,None,diego.gutierrez@yahoo.ar,4
56,57,Luis,Rojas,None,"Calle Lira, 198",Santiago,None,Chile,None,+56 (0)2 635 4444,None,luisrojas@yahoo.cl,5
57,58,Manoj,Pareek,None,"12,Community Centre",Delhi,None,India,110017,+91 0124 39883988,None,manoj.pareek@rediff.com,3
58,59,Puja,Srivastava,None,"3,Raj Bhavan Road",Bangalore,None,India,560001,+91 080 22289999,None,puja_srivastava@yahoo.in,3

In [6]:
fourth_query = """
SELECT * from track t
INNER JOIN invoice_line il on il.track_id = t.track_id
WHERE invoice_id = 3;
"""
pd.read_sql_query(fourth_query, conn)

,track_id,name,album_id,media_type_id,genre_id,composer,milliseconds,bytes,unit_price,invoice_line_id,invoice_id,track_id,unit_price,quantity
0,2516,Black Hole Sun,203,1,1,Soundgarden,320365,10425229,0.99,27,3,2516,0.99,1
1,2646,I Looked At You,214,1,1,"Robby Krieger, Ray Manzarek, John Densmore, Ji...",142080,4663988,0.99,28,3,2646,0.99,1

In [7]:
fifth_query = """
SELECT * from track t
INNER JOIN invoice_line il on il.track_id = t.track_id
INNER JOIN media_type mt on mt.media_type_id = t.media_type_id
WHERE invoice_id = 4;
"""
pd.read_sql_query(fifth_query, conn)

,track_id,name,album_id,media_type_id,genre_id,composer,milliseconds,bytes,unit_price,invoice_line_id,invoice_id,track_id,unit_price,quantity,media_type_id,name
0,3448,"Lamentations of Jeremiah, First Set \ Incipit ...",314,2,24,Thomas Tallis,69194,1208080,0.99,29,4,3448,0.99,1,2,Protected AAC audio file
1,2560,Violent Pornography,207,1,3,"Dolmayan, John/Malakian, Daron/Odadjian, Shavo",211435,6985960,0.99,30,4,2560,0.99,1,1,MPEG audio file
2,3336,War Pigs,260,4,23,None,234013,8052374,0.99,31,4,3336,0.99,1,4,Purchased AAC audio file
3,829,Let's Get Rocked,67,1,1,None,296019,9724150,0.99,32,4,829,0.99,1,1,MPEG audio file
4,1872,Attitude,153,1,3,"Hetfield, Ulrich",315898,10335734,0.99,33,4,1872,0.99,1,1,MPEG audio file
5,748,Dealer,58,1,1,Bolin/Coverdale,230922,7591066,0.99,34,4,748,0.99,1,1,MPEG audio file
6,1778,You're What's Happening (In The World Today),146,1,14,Allen Story/George Gordy/Robert Gordy,142027,4631104,0.99,35,4,1778,0.99,1,1,MPEG audio file
7,2514,Spoonman,203,1,1,Chris Cornell,248476,8289906,0.99,36,4,2514,0.99,1,1,MPEG audio file

In [8]:
sixth_query =  """
SELECT t.track_id, t.name, mt.name, il.unit_price, il.quantity FROM track t
INNER JOIN invoice_line il on il.track_id = t.track_id
INNER JOIN media_type mt on mt.media_type_id = t.media_type_id
WHERE invoice_id = 4;
"""
pd.read_sql_query(sixth_query, conn)

,track_id,name,name,unit_price,quantity
0,3448,"Lamentations of Jeremiah, First Set \ Incipit ...",Protected AAC audio file,0.99,1
1,2560,Violent Pornography,MPEG audio file,0.99,1
2,3336,War Pigs,Purchased AAC audio file,0.99,1
3,829,Let's Get Rocked,MPEG audio file,0.99,1
4,1872,Attitude,MPEG audio file,0.99,1
5,748,Dealer,MPEG audio file,0.99,1
6,1778,You're What's Happening (In The World Today),MPEG audio file,0.99,1
7,2514,Spoonman,MPEG audio file,0.99,1

In [9]:
seventh_query =  """
SELECT t.track_id, t.name as track_name, ar.name as artist_name, mt.name as media_name, il.unit_price, il.quantity FROM track t
INNER JOIN invoice_line il on il.track_id = t.track_id
INNER JOIN media_type mt on mt.media_type_id = t.media_type_id
INNER JOIN album al on al.album_id = t.album_id
INNER JOIN artist ar on ar.artist_id = al.artist_id
WHERE invoice_id = 4;
"""
pd.read_sql_query(seventh_query, conn)

,track_id,track_name,artist_name,media_name,unit_price,quantity
0,3448,"Lamentations of Jeremiah, First Set \ Incipit ...",The King's Singers,Protected AAC audio file,0.99,1
1,2560,Violent Pornography,System Of A Down,MPEG audio file,0.99,1
2,3336,War Pigs,Cake,Purchased AAC audio file,0.99,1
3,829,Let's Get Rocked,Def Leppard,MPEG audio file,0.99,1
4,1872,Attitude,Metallica,MPEG audio file,0.99,1
5,748,Dealer,Deep Purple,MPEG audio file,0.99,1
6,1778,You're What's Happening (In The World Today),Marvin Gaye,MPEG audio file,0.99,1
7,2514,Spoonman,Soundgarden,MPEG audio file,0.99,1

In [10]:
eighth_query = """
SELECT
    t.track_id,
    ar.name artist_name
FROM track t
INNER JOIN album al ON al.album_id = t.album_id
INNER JOIN artist ar ON ar.artist_id = al.artist_id
ORDER BY track_id LIMIT 5;
"""
pd.read_sql_query(eighth_query, conn)

   track_id artist_name
0         1       AC/DC
1         2      Accept
2         3      Accept
3         4      Accept
4         5      Accept

In [11]:
nineth_query = """
SELECT 
    il.invoice_line_id, 
    il.track_id, 
    ta.artist_name 
from invoice_line il
INNER JOIN (
            SELECT 
                t.track_id,
                ar.name artist_name 
            from track t 
            INNER JOIN album al on al.album_id = t.album_id 
            INNER JOIN artist ar on ar.artist_id = al.artist_id
            ) ta
            ON ta.track_id = il.track_id
ORDER BY il.invoice_line_id
LIMIT 5
"""
pd.read_sql_query(nineth_query, conn)

   invoice_line_id  track_id    artist_name
0                1      1158  Guns N' Roses
1                2      1159  Guns N' Roses
2                3      1160  Guns N' Roses
3                4      1161  Guns N' Roses
4                5      1162  Guns N' Roses

In [12]:
tenth_query = """
SELECT 
    ta.artist_name artist,
    COUNT (*) tracks_purchased
from invoice_line il
INNER JOIN (
            SELECT 
                t.track_id,
                ar.name artist_name 
            from track t 
            INNER JOIN album al on al.album_id = t.album_id 
            INNER JOIN artist ar on ar.artist_id = al.artist_id
            ) ta
            ON ta.track_id = il.track_id
GROUP BY ta.artist_name
ORDER BY tracks_purchased DESC
LIMIT 10;
"""
pd.read_sql_query(tenth_query, conn)

                  artist  tracks_purchased
0                  Queen               192
1           Jimi Hendrix               187
2                Nirvana               130
3  Red Hot Chili Peppers               130
4              Pearl Jam               129
5                  AC/DC               124
6          Guns N' Roses               124
7           Foo Fighters               121
8     The Rolling Stones               117
9              Metallica               106

In [13]:
eleventh_query = """
SELECT 
    ta.title album, ta.name artist,
    COUNT (*) tracks_purchased
from invoice_line il
INNER JOIN (
            SELECT 
                t.track_id,
                al.title,
                ar.name
            from track t 
            INNER JOIN album al on al.album_id = t.album_id 
            INNER JOIN artist ar on ar.artist_id = al.artist_id
            ) ta
            ON ta.track_id = il.track_id
GROUP BY album
ORDER BY tracks_purchased DESC
LIMIT 5;
"""
pd.read_sql_query(eleventh_query, conn)

                  album            artist  tracks_purchased
0  Are You Experienced?      Jimi Hendrix               187
1              Faceless          Godsmack                96
2             Mezmerize  System Of A Down                93
3              Get Born               JET                90
4             The Doors         The Doors                83

In [14]:
twelveth_query = """
SELECT *
FROM employee
LIMIT 5;
"""
pd.read_sql_query(twelveth_query, conn)

,employee_id,last_name,first_name,title,reports_to,birthdate,hire_date,address,city,state,country,postal_code,phone,fax,email
0,1,Adams,Andrew,General Manager,NaN,1962-02-18 00:00:00,2016-08-14 00:00:00,11120 Jasper Ave NW,Edmonton,AB,Canada,T5K 2N1,+1 (780) 428-9482,+1 (780) 428-3457,andrew@chinookcorp.com
1,2,Edwards,Nancy,Sales Manager,1.0,1958-12-08 00:00:00,2016-05-01 00:00:00,825 8 Ave SW,Calgary,AB,Canada,T2P 2T3,+1 (403) 262-3443,+1 (403) 262-3322,nancy@chinookcorp.com
2,3,Peacock,Jane,Sales Support Agent,2.0,1973-08-29 00:00:00,2017-04-01 00:00:00,1111 6 Ave SW,Calgary,AB,Canada,T2P 5M5,+1 (403) 262-3443,+1 (403) 262-6712,jane@chinookcorp.com
3,4,Park,Margaret,Sales Support Agent,2.0,1947-09-19 00:00:00,2017-05-03 00:00:00,683 10 Street SW,Calgary,AB,Canada,T2P 5G3,+1 (403) 263-4423,+1 (403) 263-4289,margaret@chinookcorp.com
4,5,Johnson,Steve,Sales Support Agent,2.0,1965-03-03 00:00:00,2017-10-17 00:00:00,7727B 41 Ave,Calgary,AB,Canada,T3B 1Y7,1 (780) 836-9987,1 (780) 836-9543,steve@chinookcorp.com

In [15]:
thirteenth_query = """
SELECT
    e1.employee_id,
    e2.employee_id supervisor_id
FROM employee e1
INNER JOIN employee e2 on e1.reports_to = e2.employee_id
LIMIT 4;
"""
pd.read_sql_query(thirteenth_query, conn)

   employee_id  supervisor_id
0            2              1
1            6              1
2            3              2
3            4              2

In [16]:
fourteenth_query = """
SELECT
    album_id,
    artist_id,
    "album id is" || album_id col_1,
    "artist id is" || artist_id col2,
    album_id || artist_id col3
FROM album LIMIT 3;
"""
pd.read_sql_query(fourteenth_query, conn)

   album_id  artist_id         col_1           col2 col3
0         1          1  album id is1  artist id is1   11
1         4          1  album id is4  artist id is1   41
2         2          2  album id is2  artist id is2   22

In [17]:
fifteenth_query = """
SELECT 
    e1.first_name || " " || e1.last_name employee_name, e1.title employee_title,
    e2.first_name || " " || e2.last_name supervisor_name, e2.title supervisor_title
FROM employee e1
INNER JOIN employee e2 on e1.reports_to = e2.employee_id
ORDER BY employee_name
"""
pd.read_sql_query(fifteenth_query, conn)

      employee_name       employee_title   supervisor_name supervisor_title
0      Jane Peacock  Sales Support Agent     Nancy Edwards    Sales Manager
1    Laura Callahan             IT Staff  Michael Mitchell       IT Manager
2     Margaret Park  Sales Support Agent     Nancy Edwards    Sales Manager
3  Michael Mitchell           IT Manager      Andrew Adams  General Manager
4     Nancy Edwards        Sales Manager      Andrew Adams  General Manager
5       Robert King             IT Staff  Michael Mitchell       IT Manager
6     Steve Johnson  Sales Support Agent     Nancy Edwards    Sales Manager

In [18]:
sixteenth_query = """
SELECT
    first_name,
    last_name,
    phone
FROM customer
WHERE first_name LIKE "%Jen%";
"""
pd.read_sql_query(sixteenth_query, conn)

  first_name last_name              phone
0   Jennifer  Peterson  +1 (604) 688-2255

In [19]:
seventeenth_query = """
SELECT
    media_type_id,
    name,
    CASE
        WHEN name LIKE '%Protected%' THEN 1
        ELSE 0
        END
        AS protected
FROM media_type;
"""
pd.read_sql_query(seventeenth_query, conn)

   media_type_id                         name  protected
0              1              MPEG audio file          0
1              2     Protected AAC audio file          1
2              3  Protected MPEG-4 video file          1
3              4     Purchased AAC audio file          0
4              5               AAC audio file          0

In [20]:
twentieth_query = """
SELECT * from invoice
"""
pd.read_sql_query(twentieth_query, conn)

,invoice_id,customer_id,invoice_date,billing_address,billing_city,billing_state,billing_country,billing_postal_code,total
0,1,18,2017-01-03 00:00:00,627 Broadway,New York,NY,USA,10012-2612,15.84
1,2,30,2017-01-03 00:00:00,230 Elgin Street,Ottawa,ON,Canada,K2P 1L7,9.90
2,3,40,2017-01-05 00:00:00,"8, Rue Hanovre",Paris,None,France,75002,1.98
3,4,18,2017-01-06 00:00:00,627 Broadway,New York,NY,USA,10012-2612,7.92
4,5,27,2017-01-07 00:00:00,1033 N Park Ave,Tucson,AZ,USA,85719,16.83
5,6,31,2017-01-10 00:00:00,194A Chain Lake Drive,Halifax,NS,Canada,B3S 1C5,1.98
6,7,49,2017-01-12 00:00:00,Ordynacka 10,Warsaw,None,Poland,00-358,10.89
7,8,59,2017-01-13 00:00:00,"3,Raj Bhavan Road",Bangalore,None,India,560001,9.90
8,9,18,2017-01-18 00:00:00,627 Broadway,New York,NY,USA,10012-2612,8.91
9,10,31,2017-01-18 00:00:00,194A Chain Lake Drive,Halifax,NS,Canada,B3S 1C5,1.98
10,11,38,2017-01-20 00:00:00,Barbarossastraße 19,Berlin,None,Germany,10779,10.89
11,12,42,2017-01-21 00:00:00,"9, Place Louis Barthou",Bordeaux,None,France,33000,3.96
12,13,35,2017-01-22 00:00:00,"Rua dos Campeões Europeus de Viena, 4350",Porto,None,Portugal,None,0.99
13,14,25,2017-01-23 00:00:00,319 N. Frances Street,Madison,WI,USA,53703,0.99
14,15,44,2017-01-25 00:00:00,Porthaninkatu 9,Helsinki,None,Finland,00530,3.96
15,16,1,2017-01-26 00:00:00,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,8.91
16,17,20,2017-01-28 00:00:00,541 Del Medio Avenue,Mountain View,CA,USA,94040-111,10.89
17,18,24,2017-02-02 00:00:00,162 E Superior Street,Chicago,IL,USA,60611,4.95
18,19,10,2017-02-06 00:00:00,"Rua Dr. Falcão Filho, 155",São Paulo,SP,Brazil,01007-010,6.93
19,20,43,2017-02-06 00:00:00,"68, Rue Jouvence",Dijon,None,France,21000,9.90
20,21,9,2017-02-07 00:00:00,Sønder Boulevard 51,Copenhagen,None,Denmark,1720,8.91
21,22,35,2017-02-08 00:00:00,"Rua dos Campeões Europeus de Viena, 4350",Porto,None,Portugal,None,1.98
22,23,53,2017-02-09 00:00:00,113 Lupus St,London,None,United Kingdom,SW1V 3EN,9.90
23,24,4,2017-02-10 00:00:00,Ullevålsveien 14,Oslo,None,Norway,0171,11.88
24,25,39,2017-02-11 00:00:00,"4, Rue Milton",Paris,None,France,75009,7.92
25,26,55,2017-02-15 00:00:00,421 Bourke Street,Sidney,NSW,Australia,2010,1.98
26,27,35,2017-02-15 00:00:00,"Rua dos Campeões Europeus de Viena, 4350",Porto,None,Portugal,None,7.92
27,28,12,2017-02-17 00:00:00,"Praça Pio X, 119",Rio de Janeiro,RJ,Brazil,20040-020,2.97
28,29,45,2017-02-17 00:00:00,Erzsébet krt. 58.,Budapest,None,Hungary,H-1073,5.94
29,30,46,2017-02-18 00:00:00,3 Chatham Street,Dublin,Dublin,Ireland,None,10.89
...,...,...,...,...,...,...,...,...,...
584,585,40,2020-10-31 00:00:00,"8, Rue Hanovre",Paris,None,France,75002,8.91
585,586,55,2020-11-01 00:00:00,421 Bourke Street,Sidney,NSW,Australia,2010,10.89
586,587,12,2020-11-07 00:00:00,"Praça Pio X, 119",Rio de Janeiro,RJ,Brazil,20040-020,1.98
587,588,5,2020-11-12 00:00:00,Klanova 9/506,Prague,None,Czech Republic,14700,0.99
588,589,41,2020-11-12 00:00:00,"11, Place Bellecour",Lyon,None,France,69002,10.89
589,590,51,2020-11-17 00:00:00,Celsiusg. 9,Stockholm,None,Sweden,11230,8.91
590,591,16,2020-11-20 00:00:00,1600 Amphitheatre Parkway,Mountain View,CA,USA,94043-1351,6.93
591,592,2,2020-11-21 00:00:00,Theodor-Heuss-Straße 34,Stuttgart,None,Germany,70174,7.92
592,593,12,2020-11-23 00:00:00,"Praça Pio X, 119",Rio de Janeiro,RJ,Brazil,20040-020,10.89
593,594,31,2020-11-24 00:00:00,194A Chain Lake Drive,Halifax,NS,Canada,B3S 1C5,2.97
594,595,23,2020-11-27 00:00:00,69 Salem Street,Boston,MA,USA,2113,7.92
595,596,42,2020-11-27 00:00:00,"9, Place Louis Barthou",Bordeaux,None,France,33000,5.94
596,597,13,2020-11-28 00:00:00,Qe 7 Bloco G,Brasília,DF,Brazil,71020-677,6.93
597,598,26,2020-12-04 00:00:00,2211 W Berry Street,Fort Worth,TX,USA,76110,4.95
598,599,59,2020-12-06 00:00:00,"3,Raj Bhavan Road",Bangalore,None,India,560001,7.92
599,600,29,2020-12-08 00:00:00,796 Dundas Street West,Toronto,ON,Canada,M6J 1V1,4.95
600,601,44,2020-12-08 00:00:00,Porthaninkatu 9,Helsinki,None,Finland,00530,10.89
601,602,21,2020-12-09 00:00:00,801 W 4th Street,Reno,NV,USA,89503,6.93
602,603,26,2020-12-10 00:00:00,2211 W Berry Street,Fort Worth,TX,USA,76110,4.95
603,604,46,2020-12-12 00:00:00,3 Chatham Street,Dublin,Dublin,Ireland,None,17.82
604,605,35,2020-12-17 00:00:00,"Rua dos Campeões Europeus de Viena, 4350",Porto,None,Portugal,None,3.96
605,606,15,2020-12-18 00:00:00,700 W Pender Street,Vancouver,BC,Canada,V6C 1G8,11.88
606,607,59,2020-12-19 00:00:00,"3,Raj Bhavan Road",Bangalore,None,India,560001,4.95
607,608,49,2020-12-20 00:00:00,Ordynacka 10,Warsaw,None,Poland,00-358,0.99
608,609,14,2020-12-20 00:00:00,8210 111 ST NW,Edmonton,AB,Canada,T6G 2C7,2.97
609,610,55,2020-12-21 00:00:00,421 Bourke Street,Sidney,NSW,Australia,2010,6.93
610,611,52,2020-12-27 00:00:00,202 Hoxton Street,London,None,United Kingdom,N1 5LH,1.98
611,612,33,2020-12-27 00:00:00,5112 48 Street,Yellowknife,NT,Canada,X1A 1N6,11.88
612,613,20,2020-12-29 00:00:00,541 Del Medio Avenue,Mountain View,CA,USA,94040-111,8.91
613,614,53,2020-12-30 00:00:00,113 Lupus St,London,None,United Kingdom,SW1V 3EN,12.87

In [21]:
eighteenth_query = """
SELECT * from invoice_line il
INNER JOIN invoice i ON i.invoice_id = il.invoice_id
INNER JOIN CUSTOMER C on c.customer_id = i.customer_id
ORDER BY c.last_name
"""
pd.read_sql_query(eighteenth_query, conn)

,invoice_line_id,invoice_id,track_id,unit_price,quantity,invoice_id,customer_id,invoice_date,billing_address,billing_city,...,company,address,city,state,country,postal_code,phone,fax,email,support_rep_id
0,202,28,36,0.99,1,28,12,2017-02-17 00:00:00,"Praça Pio X, 119",Rio de Janeiro,...,Riotur,"Praça Pio X, 119",Rio de Janeiro,RJ,Brazil,20040-020,+55 (21) 2271-7000,+55 (21) 2271-7070,roberto.almeida@riotur.gov.br,3
1,203,28,3456,0.99,1,28,12,2017-02-17 00:00:00,"Praça Pio X, 119",Rio de Janeiro,...,Riotur,"Praça Pio X, 119",Rio de Janeiro,RJ,Brazil,20040-020,+55 (21) 2271-7000,+55 (21) 2271-7070,roberto.almeida@riotur.gov.br,3
2,204,28,932,0.99,1,28,12,2017-02-17 00:00:00,"Praça Pio X, 119",Rio de Janeiro,...,Riotur,"Praça Pio X, 119",Rio de Janeiro,RJ,Brazil,20040-020,+55 (21) 2271-7000,+55 (21) 2271-7070,roberto.almeida@riotur.gov.br,3
3,912,114,1479,0.99,1,114,12,2017-09-05 00:00:00,"Praça Pio X, 119",Rio de Janeiro,...,Riotur,"Praça Pio X, 119",Rio de Janeiro,RJ,Brazil,20040-020,+55 (21) 2271-7000,+55 (21) 2271-7070,roberto.almeida@riotur.gov.br,3
4,913,114,1480,0.99,1,114,12,2017-09-05 00:00:00,"Praça Pio X, 119",Rio de Janeiro,...,Riotur,"Praça Pio X, 119",Rio de Janeiro,RJ,Brazil,20040-020,+55 (21) 2271-7000,+55 (21) 2271-7070,roberto.almeida@riotur.gov.br,3
5,914,114,1481,0.99,1,114,12,2017-09-05 00:00:00,"Praça Pio X, 119",Rio de Janeiro,...,Riotur,"Praça Pio X, 119",Rio de Janeiro,RJ,Brazil,20040-020,+55 (21) 2271-7000,+55 (21) 2271-7070,roberto.almeida@riotur.gov.br,3
6,915,114,1482,0.99,1,114,12,2017-09-05 00:00:00,"Praça Pio X, 119",Rio de Janeiro,...,Riotur,"Praça Pio X, 119",Rio de Janeiro,RJ,Brazil,20040-020,+55 (21) 2271-7000,+55 (21) 2271-7070,roberto.almeida@riotur.gov.br,3
7,916,114,1483,0.99,1,114,12,2017-09-05 00:00:00,"Praça Pio X, 119",Rio de Janeiro,...,Riotur,"Praça Pio X, 119",Rio de Janeiro,RJ,Brazil,20040-020,+55 (21) 2271-7000,+55 (21) 2271-7070,roberto.almeida@riotur.gov.br,3
8,917,114,1484,0.99,1,114,12,2017-09-05 00:00:00,"Praça Pio X, 119",Rio de Janeiro,...,Riotur,"Praça Pio X, 119",Rio de Janeiro,RJ,Brazil,20040-020,+55 (21) 2271-7000,+55 (21) 2271-7070,roberto.almeida@riotur.gov.br,3
9,918,114,1485,0.99,1,114,12,2017-09-05 00:00:00,"Praça Pio X, 119",Rio de Janeiro,...,Riotur,"Praça Pio X, 119",Rio de Janeiro,RJ,Brazil,20040-020,+55 (21) 2271-7000,+55 (21) 2271-7070,roberto.almeida@riotur.gov.br,3
10,919,114,1486,0.99,1,114,12,2017-09-05 00:00:00,"Praça Pio X, 119",Rio de Janeiro,...,Riotur,"Praça Pio X, 119",Rio de Janeiro,RJ,Brazil,20040-020,+55 (21) 2271-7000,+55 (21) 2271-7070,roberto.almeida@riotur.gov.br,3
11,920,114,1487,0.99,1,114,12,2017-09-05 00:00:00,"Praça Pio X, 119",Rio de Janeiro,...,Riotur,"Praça Pio X, 119",Rio de Janeiro,RJ,Brazil,20040-020,+55 (21) 2271-7000,+55 (21) 2271-7070,roberto.almeida@riotur.gov.br,3
12,921,114,1488,0.99,1,114,12,2017-09-05 00:00:00,"Praça Pio X, 119",Rio de Janeiro,...,Riotur,"Praça Pio X, 119",Rio de Janeiro,RJ,Brazil,20040-020,+55 (21) 2271-7000,+55 (21) 2271-7070,roberto.almeida@riotur.gov.br,3
13,922,114,1489,0.99,1,114,12,2017-09-05 00:00:00,"Praça Pio X, 119",Rio de Janeiro,...,Riotur,"Praça Pio X, 119",Rio de Janeiro,RJ,Brazil,20040-020,+55 (21) 2271-7000,+55 (21) 2271-7070,roberto.almeida@riotur.gov.br,3
14,923,114,1490,0.99,1,114,12,2017-09-05 00:00:00,"Praça Pio X, 119",Rio de Janeiro,...,Riotur,"Praça Pio X, 119",Rio de Janeiro,RJ,Brazil,20040-020,+55 (21) 2271-7000,+55 (21) 2271-7070,roberto.almeida@riotur.gov.br,3
15,924,114,1491,0.99,1,114,12,2017-09-05 00:00:00,"Praça Pio X, 119",Rio de Janeiro,...,Riotur,"Praça Pio X, 119",Rio de Janeiro,RJ,Brazil,20040-020,+55 (21) 2271-7000,+55 (21) 2271-7070,roberto.almeida@riotur.gov.br,3
16,925,114,1492,0.99,1,114,12,2017-09-05 00:00:00,"Praça Pio X, 119",Rio de Janeiro,...,Riotur,"Praça Pio X, 119",Rio de Janeiro,RJ,Brazil,20040-020,+55 (21) 2271-7000,+55 (21) 2271-7070,roberto.almeida@riotur.gov.br,3
17,926,114,1493,0.99,1,114,12,2017-09-05 00:00:00,"Praça Pio X, 119",Rio de Janeiro,...,Riotur,"Praça Pio X, 119",Rio de Janeiro,RJ,Brazil,20040-020,+55 (21) 2271-7000,+55 (21) 2271-7070,roberto.almeida@riotur.gov.br,3
18,927,114,1494,0.99,1,114,12,2017-09-05 00:00:00,"Praça Pio X, 119",Rio de Janeiro,...,Riotur,"Praça Pio X, 119",Rio de Janeiro,RJ,Brazil,20040-020,+55 (21) 2271-7000,+55 (21) 2271-7070,roberto.almeida@riotur.gov.br,3
19,928,114,1495,0.99,1,114,12,2017-09-05 00:00:00,"Praça Pio X, 119",Rio de Janeiro,...,Riotur,"Praça Pio X, 119",Rio de Janeiro,RJ,Brazil,20040-020,+55 (21) 2271-7000,+55 (21) 2271-7070,roberto.almeida@riotur.gov.br,3
20,1192,152,2731,0.99,1,152,12,2017-12-12 00:00:00,"Praça Pio X, 119",Rio de Janeiro,...,Riotur,"Praça Pio X, 119",Rio de Janeiro,RJ,Brazil,20040-020,+55 (21) 2271-7000,+55 (21) 2271-7070,roberto.almeida@riotur.gov.br,3
21,1193,152,2234,0.99,1,152,12,2017-12-12 00:00:00,"Praça Pio X, 119",Rio de Janeiro,...,Riotur,"Praça Pio X, 119",Rio de Janeiro,RJ,Brazil,20040-020,+55 (21) 2271-7000,+55 (21) 2271-7070,roberto.almeida@riotur.gov.br,3
22,1194,152,1030,0.99,1,152,12,2017-12-12 00:00:00,"Praça Pio X, 119",Rio de Janeiro,...,Riotur,"Praça Pio X, 119",Rio de Janeiro,RJ,Brazil,20040-020,+55 (21) 2271-7000,+55 (21) 2271-7070,roberto.almeida@riotur.gov.br,3
23,1195,152,1890,0.99,1,152,12,2017-12-12 00:00:00,"Praça Pio X, 119",Rio de Janeiro,...,Riotur,"Praça Pio X, 119",Rio de Janeiro,RJ,Brazil,20040-020,+55 (21) 2271-7000,+55 (21) 2271-7070,roberto.almeida@riotur.gov.br,3
24,1196,152,2556,0.99,1,152,12,2017-12-12 00:00:00,"Praça Pio X, 119",Rio de Janeiro,...,Riotur,"Praça Pio X, 119",Rio de Janeiro,RJ,Brazil,20040-020,+55 (21) 2271-7000,+55 (21) 2271-7070,roberto.almeida@riotur.gov.br,3
25,1197,152,1462,0.99,1,152,12,2017-12-12 00:00:00,"Praça Pio X, 119",Rio de Janeiro,...,Riotur,"Praça Pio X, 119",Rio de Janeiro,RJ,Brazil,20040-020,+55 (21) 2271-7000,+55 (21) 2271-7070,roberto.almeida@riotur.gov.br,3
26,1929,249,1470,0.99,1,249,12,2018-07-14 00:00:00,"Praça Pio X, 119",Rio de Janeiro,...,Riotur,"Praça Pio X, 119",Rio de Janeiro,RJ,Brazil,20040-020,+55 (21) 2271-7000,+55 (21) 2271-7070,roberto.almeida@riotur.gov.br,3
27,1930,249,1947,0.99,1,249,12,2018-07-14 00:00:00,"Praça Pio X, 119",Rio de Janeiro,...,Riotur,"Praça Pio X, 119",Rio de Janeiro,RJ,Brazil,20040-020,+55 (21) 2271-7000,+55 (21) 2271-7070,roberto.almeida@riotur.gov.br,3
28,2303,298,692,0.99,1,298,12,2018-12-13 00:00:00,"Praça Pio X, 119",Rio de Janeiro,...,Riotur,"Praça Pio X, 119",Rio de Janeiro,RJ,Brazil,20040-020,+55 (21) 2271-7000,+55 (21) 2271-7070,roberto.almeida@riotur.gov.br,3
29,2304,298,3474,0.99,1,298,12,2018-12-13 00:00:00,"Praça Pio X, 119",Rio de Janeiro,...,Riotur,"Praça Pio X, 119",Rio de Janeiro,RJ,Brazil,20040-020,+55 (21) 2271-7000,+55 (21) 2271-7070,roberto.almeida@riotur.gov.br,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4727,3557,457,1573,0.99,1,457,37,2019-12-25 00:00:00,Berger Straße 10,Frankfurt,...,None,Berger Straße 10,Frankfurt,None,Germany,60316,+49 069 40598889,None,fzimmermann@yahoo.de,3
4728,3558,457,1574,0.99,1,457,37,2019-12-25 00:00:00,Berger Straße 10,Frankfurt,...,None,Berger Straße 10,Frankfurt,None,Germany,60316,+49 069 40598889,None,fzimmermann@yahoo.de,3
4729,3559,457,1575,0.99,1,457,37,2019-12-25 00:00:00,Berger Straße 10,Frankfurt,...,None,Berger Straße 10,Frankfurt,None,Germany,60316,+49 069 40598889,None,fzimmermann@yahoo.de,3
4730,3560,457,1576,0.99,1,457,37,2019-12-25 00:00:00,Berger Straße 10,Frankfurt,...,None,Berger Straße 10,Frankfurt,None,Germany,60316,+49 069 40598889,None,fzimmermann@yahoo.de,3
4731,3753,485,1434,0.99,1,485,37,2020-03-05 00:00:00,Berger Straße 10,Frankfurt,...,None,Berger Straße 10,Frankfurt,None,Germany,60316,+49 069 40598889,None,fzimmermann@yahoo.de,3
4732,3754,485,1435,0.99,1,485,37,2020-03-05 00:00:00,Berger Straße 10,Frankfurt,...,None,Berger Straße 10,Frankfurt,None,Germany,60316,+49 069 40598889,None,fzimmermann@yahoo.de,3
4733,3755,485,1436,0.99,1,485,37,2020-03-05 00:00:00,Berger Straße 10,Frankfurt,...,None,Berger Straße 10,Frankfurt,None,Germany,60316,+49 069 40598889,None,fzimmermann@yahoo.de,3
4734,3756,485,1437,0.99,1,485,37,2020-03-05 00:00:00,Berger Straße 10,Frankfurt,...,None,Berger Straße 10,Frankfurt,None,Germany,60316,+49 069 40598889,None,fzimmermann@yahoo.de,3
4735,3757,485,1438,0.99,1,485,37,2020-03-05 00:00:00,Berger Straße 10,Frankfurt,...,None,Berger Straße 10,Frankfurt,None,Germany,60316,+49 069 40598889,None,fzimmermann@yahoo.de,3
4736,3758,485,1439,0.99,1,485,37,2020-03-05 00:00:00,Berger Straße 10,Frankfurt,...,None,Berger Straße 10,Frankfurt,None,Germany,60316,+49 069 40598889,None,fzimmermann@yahoo.de,3
4737,3759,485,1440,0.99,1,485,37,2020-03-05 00:00:00,Berger Straße 10,Frankfurt,...,None,Berger Straße 10,Frankfurt,None,Germany,60316,+49 069 40598889,None,fzimmermann@yahoo.de,3
4738,3760,485,1441,0.99,1,485,37,2020-03-05 00:00:00,Berger Straße 10,Frankfurt,...,None,Berger Straße 10,Frankfurt,None,Germany,60316,+49 069 40598889,None,fzimmermann@yahoo.de,3
4739,3761,485,1442,0.99,1,485,37,2020-03-05 00:00:00,Berger Straße 10,Frankfurt,...,None,Berger Straße 10,Frankfurt,None,Germany,60316,+49 069 40598889,None,fzimmermann@yahoo.de,3
4740,3762,485,1443,0.99,1,485,37,2020-03-05 00:00:00,Berger Straße 10,Frankfurt,...,None,Berger Straße 10,Frankfurt,None,Germany,60316,+49 069 40598889,None,fzimmermann@yahoo.de,3
4741,4180,540,3467,0.99,1,540,37,2020-07-12 00:00:00,Berger Straße 10,Frankfurt,...,None,Berger Straße 10,Frankfurt,None,Germany,60316,+49 069 40598889,None,fzimmermann@yahoo.de,3
4742,4181,540,3468,0.99,1,540,37,2020-07-12 00:00:00,Berger Straße 10,Frankfurt,...,None,Berger Straße 10,Frankfurt,None,Germany,60316,+49 069 40598889,None,fzimmermann@yahoo.de,3
4743,4182,540,3469,0.99,1,540,37,2020-07-12 00:00:00,Berger Straße 10,Frankfurt,...,None,Berger Straße 10,Frankfurt,None,Germany,60316,+49 069 40598889,None,fzimmermann@yahoo.de,3
4744,4183,540,3470,0.99,1,540,37,2020-07-12 00:00:00,Berger Straße 10,Frankfurt,...,None,Berger Straße 10,Frankfurt,None,Germany,60316,+49 069 40598889,None,fzimmermann@yahoo.de,3
4745,4184,540,3471,0.99,1,540,37,2020-07-12 00:00:00,Berger Straße 10,Frankfurt,...,None,Berger Straße 10,Frankfurt,None,Germany,60316,+49 069 40598889,None,fzimmermann@yahoo.de,3
4746,4185,540,3472,0.99,1,540,37,2020-07-12 00:00:00,Berger Straße 10,Frankfurt,...,None,Berger Straße 10,Frankfurt,None,Germany,60316,+49 069 40598889,None,fzimmermann@yahoo.de,3
4747,4186,540,3473,0.99,1,540,37,2020-07-12 00:00:00,Berger Straße 10,Frankfurt,...,None,Berger Straße 10,Frankfurt,None,Germany,60316,+49 069 40598889,None,fzimmermann@yahoo.de,3
4748,4187,540,3474,0.99,1,540,37,2020-07-12 00:00:00,Berger Straße 10,Frankfurt,...,None,Berger Straße 10,Frankfurt,None,Germany,60316,+49 069 40598889,None,fzimmermann@yahoo.de,3
4749,4188,540,3475,0.99,1,540,37,2020-07-12 00:00:00,Berger Straße 10,Frankfurt,...,None,Berger Straße 10,Frankfurt,None,Germany,60316,+49 069 40598889,None,fzimmermann@yahoo.de,3
4750,4189,540,3476,0.99,1,540,37,2020-07-12 00:00:00,Berger Straße 10,Frankfurt,...,None,Berger Straße 10,Frankfurt,None,Germany,60316,+49 069 40598889,None,fzimmermann@yahoo.de,3
4751,4190,540,3477,0.99,1,540,37,2020-07-12 00:00:00,Berger Straße 10,Frankfurt,...,None,Berger Straße 10,Frankfurt,None,Germany,60316,+49 069 40598889,None,fzimmermann@yahoo.de,3
4752,4388,566,2657,0.99,1,566,37,2020-09-27 00:00:00,Berger Straße 10,Frankfurt,...,None,Berger Straße 10,Frankfurt,None,Germany,60316,+49 069 40598889,None,fzimmermann@yahoo.de,3
4753,4389,566,1788,0.99,1,566,37,2020-09-27 00:00:00,Berger Straße 10,Frankfurt,...,None,Berger Straße 10,Frankfurt,None,Germany,60316,+49 069 40598889,None,fzimmermann@yahoo.de,3
4754,4390,566,3271,0.99,1,566,37,2020-09-27 00:00:00,Berger Straße 10,Frankfurt,...,None,Berger Straße 10,Frankfurt,None,Germany,60316,+49 069 40598889,None,fzimmermann@yahoo.de,3
4755,4391,566,3031,0.99,1,566,37,2020-09-27 00:00:00,Berger Straße 10,Frankfurt,...,None,Berger Straße 10,Frankfurt,None,Germany,60316,+49 069 40598889,None,fzimmermann@yahoo.de,3
4756,4392,566,3358,0.99,1,566,37,2020-09-27 00:00:00,Berger Straße 10,Frankfurt,...,None,Berger Straße 10,Frankfurt,None,Germany,60316,+49 069 40598889,None,fzimmermann@yahoo.de,3

In [22]:
nineteenth_query = """
SELECT 
    ta.first_name || " " || ta.last_name customer_name, 
    COUNT (il.invoice_line_id) number_of_purchases,
    ta.total
FROM invoice_line il
INNER JOIN (
            SELECT 
            *
            from invoice i
            INNER JOIN CUSTOMER C on c.customer_id = i.customer_id) ta
GROUP BY ta.invoice_id
ORDER BY ta.last_name
"""
pd.read_sql_query(nineteenth_query, conn)

             customer_name  number_of_purchases  total
0          Roberto Almeida                 4757   2.97
1          Roberto Almeida                 4757  16.83
2          Roberto Almeida                 4757   5.94
3          Roberto Almeida                 4757   1.98
4          Roberto Almeida                 4757   8.91
5          Roberto Almeida                 4757   5.94
6          Roberto Almeida                 4757   7.92
7          Roberto Almeida                 4757  10.89
8          Roberto Almeida                 4757   7.92
9          Roberto Almeida                 4757   1.98
10         Roberto Almeida                 4757  10.89
11           Julia Barnett                 4757   0.99
12           Julia Barnett                 4757   4.95
13           Julia Barnett                 4757   8.91
14           Julia Barnett                 4757   9.90
15           Julia Barnett                 4757   9.90
16           Julia Barnett                 4757   3.96
17           Julia Barnett                 4757   2.97
18           Julia Barnett                 4757   4.95
19           Julia Barnett                 4757  16.83
20           Julia Barnett                 4757   8.91
21         Camille Bernard                 4757   7.92
22         Camille Bernard                 4757   7.92
23         Camille Bernard                 4757  10.89
24         Camille Bernard                 4757   5.94
25         Camille Bernard                 4757   2.97
26         Camille Bernard                 4757  17.82
27         Camille Bernard                 4757  11.88
28         Camille Bernard                 4757   3.96
29         Camille Bernard                 4757   9.90
..                     ...                  ...    ...
584  František Wichterlová                 4757   0.99
585  František Wichterlová                 4757  10.89
586  František Wichterlová                 4757   9.90
587  František Wichterlová                 4757   6.93
588  František Wichterlová                 4757   9.90
589  František Wichterlová                 4757  19.80
590  František Wichterlová                 4757   8.91
591  František Wichterlová                 4757   1.98
592  František Wichterlová                 4757  17.82
593  František Wichterlová                 4757   0.99
594       Stanisław Wójcik                 4757  10.89
595       Stanisław Wójcik                 4757   6.93
596       Stanisław Wójcik                 4757   3.96
597       Stanisław Wójcik                 4757   4.95
598       Stanisław Wójcik                 4757   8.91
599       Stanisław Wójcik                 4757  10.89
600       Stanisław Wójcik                 4757   8.91
601       Stanisław Wójcik                 4757   8.91
602       Stanisław Wójcik                 4757  10.89
603       Stanisław Wójcik                 4757   0.99
604        Fynn Zimmermann                 4757   9.90
605        Fynn Zimmermann                 4757   9.90
606        Fynn Zimmermann                 4757  16.83
607        Fynn Zimmermann                 4757  10.89
608        Fynn Zimmermann                 4757   0.99
609        Fynn Zimmermann                 4757   4.95
610        Fynn Zimmermann                 4757  14.85
611        Fynn Zimmermann                 4757   9.90
612        Fynn Zimmermann                 4757  10.89
613        Fynn Zimmermann                 4757   4.95

[614 rows x 3 columns]

In [24]:
twentyfirst_query = """
SELECT c.first_name || " " ||  c.last_name customer_name, 
COUNT(i.invoice_id) number_of_purchases, 
SUM (i.total) total_spent,
CASE
    WHEN sum(i.total) < 40 THEN 'small spender'
    WHEN sum(i.total) > 100 THEN 'big spender'
    ELSE 'regular'
    END
    AS customer_category
from invoice i
INNER JOIN CUSTOMER C on c.customer_id = i.customer_id
GROUP BY customer_name
ORDER BY total_spent;
"""
pd.read_sql_query(twentyfirst_query, conn)

            customer_name  number_of_purchases  total_spent customer_category
0            Mark Philips                   10        29.70     small spender
1            Kara Nielsen                   10        37.62     small spender
2         Diego Gutiérrez                    5        39.60     small spender
3            Robert Brown                    4        40.59           regular
4           Lucas Mancini                    9        50.49           regular
5               Tim Goyer                    9        54.45           regular
6            Daan Peeters                    7        60.39           regular
7         Eduardo Martins                   12        60.39           regular
8             Martha Silk                   11        62.37           regular
9             Marc Dubois                    9        64.35           regular
10  Johannes Van der Berg                   10        65.34           regular
11      Jennifer Peterson                    9        66.33           regular
12            John Gordon                   10        66.33           regular
13             Emma Jones                    8        68.31           regular
14        Alexandre Rocha                   10        69.30           regular
15          Astrid Gruber                    9        69.30           regular
16         Aaron Mitchell                    8        70.29           regular
17          Frank Ralston                    8        71.28           regular
18        Puja Srivastava                    8        71.28           regular
19     Dominique Lefebvre                    9        72.27           regular
20          Julia Barnett                   10        72.27           regular
21           Bjørn Hansen                    9        72.27           regular
22       Isabelle Mercier                   12        73.26           regular
23        Niklas Schröder                    9        73.26           regular
24           Frank Harris                    8        74.25           regular
25       Joakim Johansson                   10        75.24           regular
26         Ellie Sullivan                   12        75.24           regular
27       Stanisław Wójcik                   10        76.23           regular
28         Victor Stevens                   10        76.23           regular
29        Ladislav Kovács                   10        78.21           regular
30        Camille Bernard                    9        79.20           regular
31        Michelle Brooks                    8        79.20           regular
32           Steve Murray                    9        79.20           regular
33       Terhi Hämäläinen                   11        79.20           regular
34            Mark Taylor                   10        81.18           regular
35          Leonie Köhler                   11        82.17           regular
36       Madalena Sampaio                   16        82.17           regular
37        Roberto Almeida                   11        82.17           regular
38           Patrick Gray                    9        84.15           regular
39       Hannah Schneider                   11        85.14           regular
40     Richard Cunningham                   12        86.13           regular
41         Edward Francis                   13        91.08           regular
42            Kathy Chase                   11        91.08           regular
43        Heather Leacock                   12        92.07           regular
44        Fynn Zimmermann                   10        94.05           regular
45             Dan Miller                   12        95.04           regular
46             Luis Rojas                   13        97.02           regular
47          Enrique Muñoz                   11        98.01           regular
48             Jack Smith                   12        98.01           regular
49            Phil Hughes                   11        98.01           regular
50      François Tremblay                    9        99.99           regular
51           Wyatt Girard                   11        99.99           regular
52         João Fernandes                   13       102.96       big spender
53         Fernanda Ramos                   15       106.92       big spender
54         Luís Gonçalves                   13       108.90       big spender
55           Manoj Pareek                   13       111.87       big spender
56          Hugh O'Reilly                   13       114.84       big spender
57            Helena Holý                   12       128.70       big spender
58  František Wichterlová                   18       144.54       big spender

In [25]:
twentysecond_query = """
SELECT * FROM
    (
     SELECT
         t.name,
         ar.name artist,
         al.title album_name,
         mt.name media_type,
         g.name genre,
         t.milliseconds length_milliseconds
     FROM track t
     INNER JOIN media_type mt ON mt.media_type_id = t.media_type_id
     INNER JOIN genre g ON g.genre_id = t.genre_id
     INNER JOIN album al ON al.album_id = t.album_id
     INNER JOIN artist ar ON ar.artist_id = al.artist_id
    )
WHERE album_name = "Jagged Little Pill";
"""
pd.read_sql_query(twentysecond_query, conn)

,name,artist,album_name,media_type,genre,length_milliseconds
0,All I Really Want,Alanis Morissette,Jagged Little Pill,MPEG audio file,Rock,284891
1,You Oughta Know,Alanis Morissette,Jagged Little Pill,MPEG audio file,Rock,249234
2,Perfect,Alanis Morissette,Jagged Little Pill,MPEG audio file,Rock,188133
3,Hand In My Pocket,Alanis Morissette,Jagged Little Pill,MPEG audio file,Rock,221570
4,Right Through You,Alanis Morissette,Jagged Little Pill,MPEG audio file,Rock,176117
5,Forgiven,Alanis Morissette,Jagged Little Pill,MPEG audio file,Rock,300355
6,You Learn,Alanis Morissette,Jagged Little Pill,MPEG audio file,Rock,239699
7,Head Over Feet,Alanis Morissette,Jagged Little Pill,MPEG audio file,Rock,267493
8,Mary Jane,Alanis Morissette,Jagged Little Pill,MPEG audio file,Rock,280607
9,Ironic,Alanis Morissette,Jagged Little Pill,MPEG audio file,Rock,229825
10,Not The Doctor,Alanis Morissette,Jagged Little Pill,MPEG audio file,Rock,227631
11,Wake Up,Alanis Morissette,Jagged Little Pill,MPEG audio file,Rock,293485
12,You Oughta Know (Alternate),Alanis Morissette,Jagged Little Pill,MPEG audio file,Rock,491885

In [26]:
twentythird_query = """
WITH track_info AS
    (                
     SELECT
         t.name,
         ar.name artist,
         al.title album_name,
         mt.name media_type,
         g.name genre,
         t.milliseconds length_milliseconds
     FROM track t
     INNER JOIN media_type mt ON mt.media_type_id = t.media_type_id
     INNER JOIN genre g ON g.genre_id = t.genre_id
     INNER JOIN album al ON al.album_id = t.album_id
     INNER JOIN artist ar ON ar.artist_id = al.artist_id
    )

SELECT * FROM track_info
WHERE album_name = "Jagged Little Pill";
"""
pd.read_sql_query(twentythird_query, conn)

,name,artist,album_name,media_type,genre,length_milliseconds
0,All I Really Want,Alanis Morissette,Jagged Little Pill,MPEG audio file,Rock,284891
1,You Oughta Know,Alanis Morissette,Jagged Little Pill,MPEG audio file,Rock,249234
2,Perfect,Alanis Morissette,Jagged Little Pill,MPEG audio file,Rock,188133
3,Hand In My Pocket,Alanis Morissette,Jagged Little Pill,MPEG audio file,Rock,221570
4,Right Through You,Alanis Morissette,Jagged Little Pill,MPEG audio file,Rock,176117
5,Forgiven,Alanis Morissette,Jagged Little Pill,MPEG audio file,Rock,300355
6,You Learn,Alanis Morissette,Jagged Little Pill,MPEG audio file,Rock,239699
7,Head Over Feet,Alanis Morissette,Jagged Little Pill,MPEG audio file,Rock,267493
8,Mary Jane,Alanis Morissette,Jagged Little Pill,MPEG audio file,Rock,280607
9,Ironic,Alanis Morissette,Jagged Little Pill,MPEG audio file,Rock,229825
10,Not The Doctor,Alanis Morissette,Jagged Little Pill,MPEG audio file,Rock,227631
11,Wake Up,Alanis Morissette,Jagged Little Pill,MPEG audio file,Rock,293485
12,You Oughta Know (Alternate),Alanis Morissette,Jagged Little Pill,MPEG audio file,Rock,491885

In [27]:
twentyfourth_query = """
SELECT
    p.playlist_id playlist_id,
    p.name playlist_name,
    COUNT(t.track_id) number_of_tracks,
    SUM(t.milliseconds) lenght_seconds
from playlist p 
INNER JOIN playlist_track pt on pt.playlist_id = p.playlist_id
INNER JOIN track t ON t.track_id = pt.track_id
GROUP BY p.playlist_id
ORDER BY p.playlist_id
"""
pd.read_sql_query(twentyfourth_query, conn)

    playlist_id               playlist_name  number_of_tracks  lenght_seconds
0             1                       Music              3290       877683083
1             3                    TV Shows               213       501094957
2             5                  90’s Music              1477       398705153
3             8                       Music              3290       877683083
4             9                Music Videos                 1          294294
5            10                    TV Shows               213       501094957
6            11             Brazilian Music                39         9486559
7            12                   Classical                75        21770592
8            13   Classical 101 - Deep Cuts                25         6755730
9            14  Classical 101 - Next Steps                25         7575051
10           15  Classical 101 - The Basics                25         7439811
11           16                      Grunge                15         4122018
12           17         Heavy Metal Classic                26         8206312
13           18                 On-The-Go 1                 1          197459

In [31]:
twentyeighth_query = """
SELECT *,
c.first_name || " " ||  c.last_name customer_name, 
COUNT(i.invoice_id) number_of_purchases, 
SUM (i.total) total_spent
from invoice i
INNER JOIN CUSTOMER C on c.customer_id = i.customer_id
GROUP BY customer_name
ORDER BY total_spent;
"""
pd.read_sql_query(twentyeighth_query, conn)

,invoice_id,customer_id,invoice_date,billing_address,billing_city,billing_state,billing_country,billing_postal_code,total,customer_id,...,state,country,postal_code,phone,fax,email,support_rep_id,customer_name,number_of_purchases,total_spent
0,609,14,2020-12-20 00:00:00,8210 111 ST NW,Edmonton,AB,Canada,T6G 2C7,2.97,14,...,AB,Canada,T6G 2C7,+1 (780) 434-4554,+1 (780) 434-5565,mphilips12@shaw.ca,5,Mark Philips,10,29.70
1,470,9,2020-01-29 00:00:00,Sønder Boulevard 51,Copenhagen,None,Denmark,1720,1.98,9,...,None,Denmark,1720,+453 3331 9991,None,kara.nielsen@jubii.dk,4,Kara Nielsen,10,37.62
2,535,56,2020-07-05 00:00:00,307 Macacha Güemes,Buenos Aires,None,Argentina,1106,0.99,56,...,None,Argentina,1106,+54 (0)11 4311 4333,None,diego.gutierrez@yahoo.ar,4,Diego Gutiérrez,5,39.60
3,600,29,2020-12-08 00:00:00,796 Dundas Street West,Toronto,ON,Canada,M6J 1V1,4.95,29,...,ON,Canada,M6J 1V1,+1 (416) 363-8888,None,robbrown@shaw.ca,3,Robert Brown,4,40.59
4,569,47,2020-10-06 00:00:00,"Via Degli Scipioni, 43",Rome,RM,Italy,00192,0.99,47,...,RM,Italy,00192,+39 06 39733434,None,lucas.mancini@yahoo.it,5,Lucas Mancini,9,50.49
5,505,19,2020-04-14 00:00:00,1 Infinite Loop,Cupertino,CA,USA,95014,0.99,19,...,CA,USA,95014,+1 (408) 996-1010,+1 (408) 996-1011,tgoyer@apple.com,3,Tim Goyer,9,54.45
6,431,8,2019-09-21 00:00:00,Grétrystraat 63,Brussels,None,Belgium,1000,9.90,8,...,None,Belgium,1000,+32 02 219 03 03,None,daan_peeters@apple.be,4,Daan Peeters,7,60.39
7,534,10,2020-06-25 00:00:00,"Rua Dr. Falcão Filho, 155",São Paulo,SP,Brazil,01007-010,5.94,10,...,SP,Brazil,01007-010,+55 (11) 3033-5446,+55 (11) 3033-4564,eduardo@woodstock.com.br,4,Eduardo Martins,12,60.39
8,594,31,2020-11-24 00:00:00,194A Chain Lake Drive,Halifax,NS,Canada,B3S 1C5,2.97,31,...,NS,Canada,B3S 1C5,+1 (902) 450-0450,None,marthasilk@gmail.com,5,Martha Silk,11,62.37
9,589,41,2020-11-12 00:00:00,"11, Place Bellecour",Lyon,None,France,69002,10.89,41,...,None,France,69002,+33 04 78 30 30 30,None,marc.dubois@hotmail.com,5,Marc Dubois,9,64.35
10,509,48,2020-04-27 00:00:00,Lijnbaansgracht 120bg,Amsterdam,VV,Netherlands,1016,6.93,48,...,VV,Netherlands,1016,+31 020 6223130,None,johavanderberg@yahoo.nl,5,Johannes Van der Berg,10,65.34
11,606,15,2020-12-18 00:00:00,700 W Pender Street,Vancouver,BC,Canada,V6C 1G8,11.88,15,...,BC,Canada,V6C 1G8,+1 (604) 688-2255,+1 (604) 688-8756,jenniferp@rogers.ca,3,Jennifer Peterson,9,66.33
12,595,23,2020-11-27 00:00:00,69 Salem Street,Boston,MA,USA,2113,7.92,23,...,MA,USA,2113,+1 (617) 522-1333,None,johngordon22@yahoo.com,4,John Gordon,10,66.33
13,611,52,2020-12-27 00:00:00,202 Hoxton Street,London,None,United Kingdom,N1 5LH,1.98,52,...,None,United Kingdom,N1 5LH,+44 020 7707 0707,None,emma_jones@hotmail.com,3,Emma Jones,8,68.31
14,533,11,2020-06-24 00:00:00,"Av. Paulista, 2022",São Paulo,SP,Brazil,01310-200,12.87,11,...,SP,Brazil,01310-200,+55 (11) 3055-3278,+55 (11) 3055-8131,alero@uol.com.br,5,Alexandre Rocha,10,69.30
15,553,7,2020-08-26 00:00:00,"Rotenturmstraße 4, 1010 Innere Stadt",Vienne,None,Austria,1010,4.95,7,...,None,Austria,1010,+43 01 5134505,None,astrid.gruber@apple.at,5,Astrid Gruber,9,69.30
16,581,32,2020-10-26 00:00:00,696 Osborne Street,Winnipeg,MB,Canada,R3L 2B9,13.86,32,...,MB,Canada,R3L 2B9,+1 (204) 452-6452,None,aaronmitchell@yahoo.ca,4,Aaron Mitchell,8,70.29
17,580,24,2020-10-25 00:00:00,162 E Superior Street,Chicago,IL,USA,60611,9.90,24,...,IL,USA,60611,+1 (312) 332-3232,None,fralston@gmail.com,3,Frank Ralston,8,71.28
18,607,59,2020-12-19 00:00:00,"3,Raj Bhavan Road",Bangalore,None,India,560001,4.95,59,...,None,India,560001,+91 080 22289999,None,puja_srivastava@yahoo.in,3,Puja Srivastava,8,71.28
19,585,40,2020-10-31 00:00:00,"8, Rue Hanovre",Paris,None,France,75002,8.91,40,...,None,France,75002,+33 01 47 42 71 71,None,dominiquelefebvre@gmail.com,4,Dominique Lefebvre,9,72.27
20,577,28,2020-10-20 00:00:00,302 S 700 E,Salt Lake City,UT,USA,84102,8.91,28,...,UT,USA,84102,+1 (801) 531-7272,None,jubarnett@gmail.com,5,Julia Barnett,10,72.27
21,474,4,2020-02-04 00:00:00,Ullevålsveien 14,Oslo,None,Norway,0171,6.93,4,...,None,Norway,0171,+47 22 44 22 22,None,bjorn.hansen@yahoo.no,4,Bjørn Hansen,9,72.27
22,512,43,2020-05-02 00:00:00,"68, Rue Jouvence",Dijon,None,France,21000,8.91,43,...,None,France,21000,+33 03 80 73 66 99,None,isabelle_mercier@apple.fr,3,Isabelle Mercier,12,73.26
23,508,38,2020-04-22 00:00:00,Barbarossastraße 19,Berlin,None,Germany,10779,8.91,38,...,None,Germany,10779,+49 030 2141444,None,nschroder@surfeu.de,3,Niklas Schröder,9,73.26
24,591,16,2020-11-20 00:00:00,1600 Amphitheatre Parkway,Mountain View,CA,USA,94043-1351,6.93,16,...,CA,USA,94043-1351,+1 (650) 253-0000,+1 (650) 253-0000,fharris@google.com,4,Frank Harris,8,74.25
25,590,51,2020-11-17 00:00:00,Celsiusg. 9,Stockholm,None,Sweden,11230,8.91,51,...,None,Sweden,11230,+46 08-651 52 52,None,joakim.johansson@yahoo.se,5,Joakim Johansson,10,75.24
26,612,33,2020-12-27 00:00:00,5112 48 Street,Yellowknife,NT,Canada,X1A 1N6,11.88,33,...,NT,Canada,X1A 1N6,+1 (867) 920-2233,None,ellie.sullivan@shaw.ca,3,Ellie Sullivan,12,75.24
27,608,49,2020-12-20 00:00:00,Ordynacka 10,Warsaw,None,Poland,00-358,0.99,49,...,None,Poland,00-358,+48 22 828 37 39,None,stanisław.wójcik@wp.pl,4,Stanisław Wójcik,10,76.23
28,578,25,2020-10-21 00:00:00,319 N. Frances Street,Madison,WI,USA,53703,11.88,25,...,WI,USA,53703,+1 (608) 257-0597,None,vstevens@yahoo.com,5,Victor Stevens,10,76.23
29,576,45,2020-10-19 00:00:00,Erzsébet krt. 58.,Budapest,None,Hungary,H-1073,5.94,45,...,None,Hungary,H-1073,None,None,ladislav_kovacs@apple.hu,3,Ladislav Kovács,10,78.21
30,503,39,2020-04-11 00:00:00,"4, Rue Milton",Paris,None,France,75009,9.90,39,...,None,France,75009,+33 01 49 70 65 65,None,camille.bernard@yahoo.fr,4,Camille Bernard,9,79.20
31,486,18,2020-03-05 00:00:00,627 Broadway,New York,NY,USA,10012-2612,8.91,18,...,NY,USA,10012-2612,+1 (212) 221-3546,+1 (212) 221-4679,michelleb@aol.com,3,Michelle Brooks,8,79.20
32,492,54,2020-03-25 00:00:00,110 Raeburn Pl,Edinburgh,None,United Kingdom,EH4 1HH,4.95,54,...,None,United Kingdom,EH4 1HH,+44 0131 315 3300,None,steve.murray@yahoo.uk,5,Steve Murray,9,79.20
33,601,44,2020-12-08 00:00:00,Porthaninkatu 9,Helsinki,None,Finland,00530,10.89,44,...,None,Finland,00530,+358 09 870 2000,None,terhi.hamalainen@apple.fi,3,Terhi Hämäläinen,11,79.20
34,610,55,2020-12-21 00:00:00,421 Bourke Street,Sidney,NSW,Australia,2010,6.93,55,...,NSW,Australia,2010,+61 (02) 9332 3633,None,mark.taylor@yahoo.au,4,Mark Taylor,10,81.18
35,592,2,2020-11-21 00:00:00,Theodor-Heuss-Straße 34,Stuttgart,None,Germany,70174,7.92,2,...,None,Germany,70174,+49 0711 2842222,None,leonekohler@surfeu.de,5,Leonie Köhler,11,82.17
36,605,35,2020-12-17 00:00:00,"Rua dos Campeões Europeus de Viena, 4350",Porto,None,Portugal,None,3.96,35,...,None,Portugal,None,+351 (225) 022-448,None,masampaio@sapo.pt,4,Madalena Sampaio,16,82.17
37,593,12,2020-11-23 00:00:00,"Praça Pio X, 119",Rio de Janeiro,RJ,Brazil,20040-020,10.89,12,...,RJ,Brazil,20040-020,+55 (21) 2271-7000,+55 (21) 2271-7070,roberto.almeida@riotur.gov.br,3,Roberto Almeida,11,82.17
38,573,27,2020-10-16 00:00:00,1033 N Park Ave,Tucson,AZ,USA,85719,10.89,27,...,AZ,USA,85719,+1 (520) 622-4200,None,patrick.gray@aol.com,4,Patrick Gray,9,84.15
39,500,36,2020-04-07 00:00:00,Tauentzienstraße 8,Berlin,None,Germany,10789,8.91,36,...,None,Germany,10789,+49 030 26550280,None,hannah.schneider@yahoo.de,5,Hannah Schneider,11,85.14
40,603,26,2020-12-10 00:00:00,2211 W Berry Street,Fort Worth,TX,USA,76110,4.95,26,...,TX,USA,76110,+1 (817) 924-7272,None,ricunningham@hotmail.com,4,Richard Cunningham,12,86.13
41,584,30,2020-10-31 00:00:00,230 Elgin Street,Ottawa,ON,Canada,K2P 1L7,0.99,30,...,ON,Canada,K2P 1L7,+1 (613) 234-3322,None,edfrancis@yachoo.ca,3,Edward Francis,13,91.08
42,602,21,2020-12-09 00:00:00,801 W 4th Street,Reno,NV,USA,89503,6.93,21,...,NV,USA,89503,+1 (775) 223-7665,None,kachase@hotmail.com,5,Kathy Chase,11,91.08
43,583,22,2020-10-30 00:00:00,120 S Orange Ave,Orlando,FL,USA,32801,10.89,22,...,FL,USA,32801,+1 (407) 999-7788,None,hleacock@gmail.com,4,Heather Leacock,12,92.07
44,566,37,2020-09-27 00:00:00,Berger Straße 10,Frankfurt,None,Germany,60316,4.95,37,...,None,Germany,60316,+49 069 40598889,None,fzimmermann@yahoo.de,3,Fynn Zimmermann,10,94.05
45,613,20,2020-12-29 00:00:00,541 Del Medio Avenue,Mountain View,CA,USA,94040-111,8.91,20,...,CA,USA,94040-111,+1 (650) 644-3358,None,dmiller@comcast.com,4,Dan Miller,12,95.04
46,527,57,2020-06-09 00:00:00,"Calle Lira, 198",Santiago,None,Chile,None,10.89,57,...,None,Chile,None,+56 (0)2 635 4444,None,luisrojas@yahoo.cl,5,Luis Rojas,13,97.02
47,528,50,2020-06-10 00:00:00,C/ San Bernardo 85,Madrid,None,Spain,28015,15.84,50,...,None,Spain,28015,+34 914 454 454,None,enrique_munoz@yahoo.es,5,Enrique Muñoz,11,98.01
48,558,17,2020-09-11 00:00:00,1 Microsoft Way,Redmond,WA,USA,98052-8300,10.89,17,...,WA,USA,98052-8300,+1 (425) 882-8080,+1 (425) 882-8081,jacksmith@microsoft.com,5,Jack Smith,12,98.01
49,614,53,2020-12-30 00:00:00,113 Lupus St,London,None,United Kingdom,SW1V 3EN,12.87,53,...,None,United Kingdom,SW1V 3EN,+44 020 7976 5722,None,phil.hughes@gmail.com,3,Phil Hughes,11,98.01
50,517,3,2020-05-16 00:00:00,1498 rue Bélanger,Montréal,QC,Canada,H2G 1A7,8.91,3,...,QC,Canada,H2G 1A7,+1 (514) 721-4711,None,ftremblay@gmail.com,3,François Tremblay,9,99.99
51,596,42,2020-11-27 00:00:00,"9, Place Louis Barthou",Bordeaux,None,France,33000,5.94,42,...,None,France,33000,+33 05 56 96 96 96,None,wyatt.girard@yahoo.fr,3,Wyatt Girard,11,99.99
52,572,34,2020-10-13 00:00:00,Rua da Assunção 53,Lisbon,None,Portugal,None,4.95,34,...,None,Portugal,None,+351 (213) 466-111,None,jfernandes@yahoo.pt,4,João Fernandes,13,102.96
53,597,13,2020-11-28 00:00:00,Qe 7 Bloco G,Brasília,DF,Brazil,71020-677,6.93,13,...,DF,Brazil,71020-677,+55 (61) 3363-5547,+55 (61) 3363-7855,fernadaramos4@uol.com.br,4,Fernanda Ramos,15,106.92
54,544,1,2020-07-24 00:00:00,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,8.91,1,...,SP,Brazil,12227-000,+55 (12) 3923-5555,+55 (12) 3923-5566,luisg@embraer.com.br,3,Luís Gonçalves,13,108.90
55,541,58,2020-07-15 00:00:00,"12,Community Centre",Delhi,None,India,110017,2.97,58,...,None,India,110017,+91 0124 39883988,None,manoj.pareek@rediff.com,3,Manoj Pareek,13,111.87
56,604,46,2020-12-12 00:00:00,3 Chatham Street,Dublin,Dublin,Ireland,None,17.82,46,...,Dublin,Ireland,None,+353 01 6792424,None,hughoreilly@apple.ie,3,Hugh O'Reilly,13,114.84
57,579,6,2020-10-23 00:00:00,Rilská 3174/6,Prague,None,Czech Republic,14300,10.89,6,...,None,Czech Republic,14300,+420 2 4177 0449,None,hholy@gmail.com,5,Helena Holý,12,128.70
58,588,5,2020-11-12 00:00:00,Klanova 9/506,Prague,None,Czech Republic,14700,0.99,5,...,None,Czech Republic,14700,+420 2 4172 5555,+420 2 4172 5555,frantisekw@jetbrains.com,4,František Wichterlová,18,144.54